@model IEnumerable<GatherUP.Models.Vartotojas>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We don't have any users yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>User name</th>
            <th>Real name</th>
            <th>blokuoti vartotoja</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Prisijungimo_vardas</td>
                <td>@user.Vardas</td>
                <td>Blokuoti vartotoja</td>
            </tr>
        }
        </tbody>
    </table>
}