@model GatherUP.Models.Vartotojas
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Prisijungimo vardas</th>
        <th>Vardas</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Prisijungimo_vardas</td>
            <td>@Model.Vardas</td>
        </tr>
    </tbody>
</table>