@model IEnumerable<GatherUP.Models.Pakvietimas>
@{
    ViewBag.Title = "Gauti pakvietimai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rezervuotų vietų sąrašas</h2>
@if (!Model.Any())
{
    <p>Pakolkas nėra jokių vietų</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Zinute</th>
                <th>Busena</th>
                <th>Siuntejas</th>
                <th>Priimti?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pakvietimas in Model)
            {
                <tr>
                    <td>@pakvietimas.Zinute</td>
                    <td>@pakvietimas.Busena</td>
                    <td>@pakvietimas.SiuntejoId</td>
                    <td>@Html.ActionLink((pakvietimas.Busena == 0 ? "Priimti" : "Atšaukti") + " pakvietimą", "CancelInvitation", "Rezervation", new { Prisijungimo_vardas = pakvietimas.Id },  new { onclick = "return confirm('Ar tikrai?')" }) </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
