@model GatherUP.ViewModels.EditView

@{
    ViewBag.Title = "Place";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vietos peržiūra</h2>
@using (Html.BeginForm("Places", "CompanyOwner", FormMethod.Post))
{
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Pavadinimas</th>
                        <th>Aprašymas</th>
                        <th>Adresas</th>
                        <th>Pakeitimai</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var place in Model.list)
                    {

                        <tr>
                            <td>@place.Pavadinimas</td>
                            <td>@place.Aprasymas</td>
                            <td>@place.Adresas</td>
                            <td><a href="/CompanyOwner/editplace/@place.Id">Redaguoti vietą</a></td>
                            @Html.Hidden("id", place.Id)
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        
            <div class="row">
                <div >
                    <input type="submit" name="istrinti" value="Ištrinti" class="btn btn-default "/> 
                </div>
            </div>

    }

