@model IEnumerable<GatherUP.Models.Vieta>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Vietų sąrašas</h2>
@if (!Model.Any())
{
    <p>Jūs neturite savo vietų</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Pavadinimas</th>
                <th>Aprašymas</th>
                <th>Adresas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var place in Model)
            {
                <tr>
                    <td>@place.Pavadinimas</td>
                    <td>@place.Aprasymas</td>
                    <td>@place.Adresas</td>
                </tr>
            }
        </tbody>
    </table>
}